body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #95a2b1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

